/* Add Project Form */
.add-project-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #799163;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ede0a6;
}

.add-project-form input,
.add-project-form textarea,
.add-project-form select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.add-project-form button {
    padding: 10px;
    font-size: 16px;
    color: #ede0a6;
    background-color: #507b58;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.add-project-form button:hover {
    background-color: #799163;
    transform: scale(1.02);
}
